@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


.container{
	margin-top: 25px;
	position: relative;
}

h1{
	font-weight: 700;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
}

.header{
	margin-bottom: 80px;
}
#description{
	font-size: 24px;
}

.form-wrap {
	background: rgba(255,255,255,1);
	width: 100%; /* Set width to 90% of its container */
	/* max-width: 1010px;  Set maximum width to 1010px */
	padding-inline: 5%; /* Add 5% padding to left and right */
	padding-block: 10px;
	margin: 0 auto; /* Center the form horizontally */
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  
.form-group{
	margin-bottom: 25px;
}
.form-group > label{
	display: block;
	font-size: 18px;	
	color: #000;
}
.custom-control-label{
	color: #000;
	font-size: 16px;
}
.form-control{
	height: 50px;
	background: #ecf0f4;
	border-color: transparent;
	padding: 0 15px;
	font-size: 16px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-control:focus{
	border-color: #00bcd9;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
.custom-control-label{
	margin-left: 5px;
	font-size: medium;
	font-weight: 400;
}
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: #00bcd9;
	border-color: #00bcd9;
}
.custom-control-input{
	width: 20px;
}
textarea.form-control{
	height: 120px;
	padding-top: 15px;
	resize: none;
}


.btn{
	padding: .657rem .75rem;
	font-size: 18px;
	letter-spacing: 0.050em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
	.btn{
		font-size: 16px;
	}
	.custom-control-label{
		font-size: 14px;
	}
	.form-group > label{
		font-size: 16px;
	}
	
}

.btn-primary {
  color: #fff;
  background-color: #00bcd9;
  border-color: #00bcd9;
}

.btn-primary:hover {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus, .btn-primary.focus {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
@media screen and (max-width: 768px) {
	.form3 .col-md-12 {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}
.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 9px; /* Adjust this value to change the height of the progress bar */
	border-radius: 5px;
	background-color: #00BCD9; /* Change the color of the progress bar */
  }
  .stepper-wrapper {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
  }
  .stepper-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
  
	@media (max-width: 768px) {
	  font-size: 12px;
	}
  }
  
  .stepper-item::before {
	position: absolute;
	content: "";
	border-bottom: 2px solid #ccc;
	width: 100%;
	top: 20px;
	left: -50%;
	z-index: 2;
  }
  
  .stepper-item::after {
	position: absolute;
	content: "";
	border-bottom: 2px solid #ccc;
	width: 100%;
	top: 20px;
	left: 50%;
	z-index: 2;
  }
  
  .stepper-item .step-counter {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #ccc;
	margin-bottom: 6px;
  }
  
  .stepper-item.active {
	font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
	background-color: #00BCD9
  }
  
  .stepper-item.completed::after {
	position: absolute;
	content: "";
	border-bottom: 2px solid #00BCD9;
	width: 100%;
	top: 20px;
	left: 50%;
	z-index: 3;
  }
  
  .stepper-item:first-child::before {
	content: none;
  }
  .stepper-item:last-child::after {
	content: none;
  }



  .select-container {
  position: relative;
}

select {
  width: 100%;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.select-icon {
  position: absolute;
  font-size: 26px;
  top: 68%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* This makes sure the icon doesn't interfere with clicking the select */
  color: #888;
}
