@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


.container{
	margin-top: 25px;
	position: relative;
}

h1{
	font-weight: 700;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
}

.header{
	margin-bottom: 80px;
}
#description{
	font-size: 24px;
}

.form-wrap {
	background: rgba(255,255,255,1);
	width: 100%; /* Set width to 90% of its container */
	max-width: 1010px; /* Set maximum width to 1010px */
	padding-inline: 5%; /* Add 5% padding to left and right */
	padding-block: 20px;
	margin: 0 auto; /* Center the form horizontally */
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  
.form-group{
	margin-bottom: 25px;
}
.form-group > label{
	display: block;
	font-size: 18px;	
	color: #000;
}
.custom-control-label{
	color: #000;
	font-size: 16px;
}
.form-control{
	height: 50px;
	background: #ecf0f4;
	border-color: transparent;
	padding: 0 15px;
	font-size: 16px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-control:focus{
	border-color: #00bcd9;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
.custom-control-label{
	margin-left: 5px;
	font-size: medium;
	font-weight: 400;
}
.custom-control-input:checked ~ .custom-control-label::before {
	background-color: #00bcd9;
	border-color: #00bcd9;
}
.custom-control-input{
	width: 20px;
}
textarea.form-control{
	height: 120px;
	padding-top: 15px;
	resize: none;
}


.btn{
	padding: .657rem .75rem;
	font-size: 18px;
	letter-spacing: 0.050em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #00bcd9;
  border-color: #00bcd9;
}

.btn-primary:hover {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus, .btn-primary.focus {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
@media screen and (max-width: 768px) {
	.form3 .col-md-12 {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
}
.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 9px; /* Adjust this value to change the height of the progress bar */
	border-radius: 5px;
	background-color: blue; /* Change the color of the progress bar */
  }
