
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-block: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
  width: 100%;
}

.card .card-header {
  border-bottom-color: #f9f9f9;
  line-height: 30px;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
  padding: 10px 25px;
  display: flex;
  align-items: center;
}

.card .card-header, .card .card-body, .card .card-footer {
  background-color: transparent;
  padding: 20px 25px;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}



.table-container {
  width: 100%;
  max-height: 400px; /* Ajoutez une hauteur maximale ici */
  overflow-y: auto; /* Permet le défilement vertical */
  margin: 20px 0;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  overflow-x: auto;
}

thead {
  background-color: #eb6e1b;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}
th{
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: medium;
}

h6{
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
